<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Item List</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <%- include("navbar",{user:user}) -%>
    <div class="container">
      <h1>Item List</h1>
      <% items.forEach(item => { %>
      <form class="item" action="/order" method="POST">
        <ul>
          <li><strong>Name:</strong> <%= item.item_name %></li>
          <li><strong>Price:</strong> <%= item.item_price %></li>
          <li><strong>Quantity:</strong> <%= item.item_quantity %></li>
        </ul>
        <input type="hidden" name="user_id" value="<%= item.user_id %>" />
        <input type="hidden" name="item_id" value="<%= item._id %>" />
        <input
          type="number"
          max="50"
          min="0"
          name="no_of_quantity"
          class="input-number"
          placeholder="Quantity"
        />
        <button type="submit" class="buy-button">Buy</button>
      </form>
      <% }); %>
    </div>
  </body>
</html>
