<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory</title>
    <link rel="stylesheet" href="/items.css" />
  </head>
  <body>
    <%- include("sidebar") %>
    <div class="container">
      <h1>Inventory System</h1>
      <ul>
        <% items.forEach(item => { %>
        <li>
          <span><b>Product Name: </b><%= item.item_name %></span>
          <span><b>Product Price: </b><%= item.item_price %></span>
          <span><b>Product Quantity: </b><%= item.item_quantity %></span>
          <button class="btn-edt">
            <a href="editItem/<%= item._id %>">Edit</a>
          </button>
          <form action="deleteItems/<%= item._id %>" method="POST">
            <button class="btn-del" type="submit">Delete</button>
          </form>
        </li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
