<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include("navbar.ejs") %>
    <div>
      <h1>My Order List</h1>
      <% orderLists.forEach(orderList => { %>
      <div>
        <ul>
          <li><strong>User_id:</strong> <%= orderList.user_id %></li>
          <li><strong>Name:</strong> <%= orderList.item_id.item_name %></li>
          <li><strong>Price:</strong> <%= orderList.item_id.item_price %></li>
          <li><strong>Quantity:</strong> <%= orderList.no_of_quantity %></li>
        </ul>
      </div>
      <% }) %>
    </div>
  </body>
</html>
