<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/path/to/your/css" />
    <title>Orders</title>
  </head>
  <body>
    <%- include('navbar', { user: user }) %>
    <h1>All Orders</h1>
    <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>User Name</th>
          <th>User Email</th>
          <th>Item Name</th>
          <th>Item Price</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% orderLists.forEach(order => { %>
        <tr>
          <td><%= order._id %></td>
          <td><%= order.user_id.name %></td>
          <td><%= order.user_id.email %></td>
          <td><%= order.item_id.item_name %></td>
          <td><%= order.item_id.item_price %></td>
          <td><%= order.no_of_quantity %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
