<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orders</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px; /* Optional: Adjust as needed */
      }
      th,
      td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd; /* Optional: Adds bottom border to cells */
      }
      th {
        background-color: #f2f2f2; /* Optional: Background color for header cells */
        color: #333; /* Optional: Text color for header cells */
      }
      tr:nth-child(even) {
        background-color: #f9f9f9; /* Optional: Alternate row background color */
      }
    </style>
  </head>
  <body>
    <%- include('navbar', { user: user }) %>
    <h1>All Orders</h1>
    <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>User Name</th>
          <th>User Email</th>
          <th>Item Name</th>
          <th>Item Price</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% ordersList?.forEach(order => { %>
        <tr>
          <td><%= order._id %></td>
          <td><%= order.user_id.name %></td>
          <td><%= order.user_id.email %></td>
          <td><%= order.item_id.item_name %></td>
          <td><%= order.item_id.item_price %></td>
          <td><%= order.no_of_quantity %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
